/*Tipografias*/
@font-face {
  font-family: CoffeeAndTea;
  src: url(/web/fonts/coffee+teademo-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/web/fonts/Poppins-Regular.ttf);
}

/* Esquema de colores*/
:root,
:root.light {
  --bg-color: rgb(241, 241, 241);
  --primary:#e8c39e;
  --secundary:#9e6730;
  --terciary:#f3dbc3;
  --accentcolor:#804000;
  --colort:#fff;


  --theme-color: white;
  --text-color-inverse: white;
  --text-color: black;
}
 
:root.dark {
  --bg-color: rgb(32, 32, 32);
  --primary:#9e6730;
  --secundary:#804000;
  --terciary:#eaccad;
  --accentcolor:#f3dbce;
  --colort:#fff;


  --theme-color: white;
  --text-color-inverse: black;
  --text-color: white;
}

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: var(--text-color);
}
/*Body*/
.bodyDoc {
  font-family: 'Poppins', sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  width: 100vw;
}

/*Header*/
.topheaderDoc {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: var(--bg-color);
  --webkit-backdrop-filter: blur(0.3em);
}
.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--text-color);
}

.logo img {
  border-radius: 0%;
  width: 15%;
  margin-right: 10px;
}

.logotype2{
  display: flex;
  justify-content: center;
  font-family: 'CoffeeAndTea', sans-serif;
  font-size: 1.6em;
  margin-left: 20px;
  }

  .descargaDoc{
    color: var(--text-color);
    background-color: var(--primary);
    font-size: 18px;
    font-weight: 500;
    line-height: 50px;
    border: none;
    border-radius: 30px;
    padding: 0 20px;
    position: relative;
    font-family: 'Poppins',sans-serif;
  }
  main{
  display: flex;
  margin-top: 80px;
  }

/*Footer*/
footer{
  width: 100%;
  height: auto;
  background-color: var(--primary);
}
.contenido{
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

.footerC{
  margin-right: 5%;
  width: 45%;
}
.footerL{
  width: 50%;
}
.footerL a{
  display: block;
}

.theme-btn{
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 1pt;
  background-color: white;
}

.des{
  display: block;
  background: var(--accentcolor);
  color: var(--text-color-inverse);
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  max-width: 200px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
}
.descargaDoc:hover {
  color:white;
  background-color: rgb(78, 92, 107); /* Add a dark-grey background on hover */
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px; 
  right: 30px; 
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: var(--accentcolor);
  color: var(--text-color-inverse);
  cursor: pointer; 
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  width: 48px;
}

#myBtn:hover {
  background-color: #555; 
}
#myBtn2 {
  bottom: 20px; 
  right: 30px; 
  border: none; 
  outline: none; 
  background-color: var(--accentcolor);
  color: var(--text-color-inverse);
  cursor: pointer; 
  padding: 10px;
  border-radius: 20px;
  font-size: 18px;
  width: 48px;
}

#myBtn2:hover {
  background-color: #555; 
}


@media (min-width: 481px) and (max-width: 768px) {
  footer{
    width: 100vw;
  }
  .footerC{
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }
  .footerL{
    width: 100%;
  }
  .downloadC{
    width: 100%;
  }
  .samples{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .footerC{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footerL{
    width: 100%;
  }
  .downloadC{
    width: 100%;
  }
  .samples{
    width: 100%;
  }
  aside{
    display: none;
  }
  p#ligaGF{
    display: none;
  }
}











.aside{
  width: 25%;
  height: auto;
  background-color: var(--bg-color);
  padding: 40px;
  font-size: 16pt;
}
aside a{
  display: block;
}
.article{
  width: 75%;
  height: auto;
  background-color: var(--bg-color);
  padding: 40px;
}








.btn {
  border: #eaccad;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
}
.btn-primary{
background-color: #9a5833;
}
.btn-secondary{
background-color: var(--secundary);
}
.btn-success{
background-color: #b4764f;
}
.btn-danger{
background-color: #82232f;
}
.btn-warning{
background-color: #c03d29;
}
.btn-info{
background-color: #b68e56;
}
.btn-light{
background-color: #e6b68b;
}
.btn-dark{
background-color: #5b3924;
}
.btn-link{
background-color: #cd966c;
}

.btn .btn-secondary .dropdown-toggle{
background-color: var(--secundary);
color: white;

}

.dropdown .dropdown-menu .dropdown-item{
text-decoration: none;
color: #121212;
display: block;
padding: 13px;
}
.dropdown-menu{
  list-style: none;
  padding-left: 0px;
}

.dropdown-menu{
background-color: #f9f9f9;
width: 145px;
border-radius: 10px;
display: none;
}

.dropdown-menu .dropdown-item:hover{
background-color: #f1f1f1;
}

.dropdown:hover .dropdown-menu{
display: block;
}
.dropdown{
  position: absolute;
}


.coffeeFont{
  font-family: 'CoffeeAndTea','Poppins',sans-serif;
}
h1.coffeeFont{
  font-size: 25pt;
}
h2.coffeeFont{
  font-size: 22pt;
}
h3.coffeeFont{
  font-size: 20pt;
}
h4.coffeeFont{
  font-size: 18pt;
}
h5.coffeeFont{
  font-size: 16pt;
}
h6.coffeeFont{
  font-size: 14pt;
}

.listas{
  padding-left: 20px;
}
/* Botones */
.boton1{
  border: none;
  border-radius: 20px;
  background-color: var(--secundary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  color: white;
  padding: 2px 20px;
  margin-top: 10px;
}
.boton2{
  border: none;
  border-radius: 20px;
  background-color: var(--primary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  color: var(--text-color);
  padding: 2px 20px;
  margin-top: 10px;
}
.boton3{
  border: none;
  color: black;
  border-radius: 20px;
  background-color: var(--terciary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  padding: 2px 20px;
  margin-top: 10px;
}
.boton4{
  color: white;
  border-radius: 20px;
  border: 2px solid black;
  background-color: var(--secundary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  padding: 2px 20px;
  margin-top: 10px;
}
.boton5{
  color: var(--text-color);
  border-radius: 20px;
  border: 2px solid black;
  background-color: var(--primary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  padding: 2px 20px;
  margin-top: 10px;
}
.boton6{
  border: none;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  background-color: var(--terciary);
  font-family: 'Poppins',sans-serif;
  font-size: 15pt;
  padding: 2px 20px;
  margin-top: 10px;
}





/* Modal */
.alert{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  /* background-color: var(--clear); */
  /* opacity: .4; */
}
.oculto{
  display: none;
}
.alert .alertBox{
  width: 30vw;
  height: 30vh;
  position: relative;
  top: 35vh;
  left: 35vw;

  background-color: var(--bg-color);
  border-radius: 20px;
}
.alert #alertClose{
  position: absolute;
  top: 5px;
  right: 5px;

  color: var(--accentcolor);
  font-size: 15px;
}
.alert #alertClose:hover{
  cursor: pointer;
}
.alert #alertContent{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#check{
  color: green;
  position: absolute;
  left: 44%;
  top: 60px;
}

.alert #alertClose2{
  position: absolute;
  top: 5px;
  right: 5px;

  color: var(--accentcolor);
  font-size: 15px;
}
.alert #alertClose2:hover{
  cursor: pointer;
}
#err{
  color: rgb(175, 0, 0);
  position: absolute;
  left: 44%;
  top: 60px;
}

#descargaBtn{
  background-color: var(--accentcolor);
  color:var(--text-color-inverse);
  border: none;
  border-radius: 20px;
  padding: 6px 20px;
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
}
#gitBtn{
  background-color: var(--accentcolor);
  color:var(--text-color-inverse);
  border: none;
  border-radius: 20px;
  padding: 6px 20px;
  font-family: 'Poppins',sans-serif;
  font-size: 18px;
}

.botones{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}









.cuadrado {
  width: 100px;
  height: 100px;
  background: #9e6730;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.cuadrado:hover{
  transform: scale(2);
}

.Color{
  width: 100px;
  height: 100px;
  background: var(--base);
  animation:  cambiaColor 5s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

@keyframes cambiaColor{
  10%{ background: #fff; }
  30%{ background: #f3dbc3; }
  50%{ background: #e8c39e; }
  60%{ background: #9e6730; }
  80%{ background: #804000; }
  90% { background: black;  }
}

.ctn-ejemploMover{
  position: relative;
}
 .ejemploMover{
  width: 100px;
  height: 100px;
  animation: infinite mover 2s ease;
  background: var(--accentcolor);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  right: 0;

}
@keyframes mover{
  from{
    left: 0;

  }
  to{
    left: 50%;
  }
  
}

.tarjeta{
  width: 100px;
  height: 100px;
  background: #9e6730;
  z-index: 0;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: .7s ease;
  transition: .7s ease;
}
.adelante, .atras{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.adelante{
  width: 100%;
}
.atras{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  font-family: "open sans";
    background: var(--text);
}
.tarjeta-wrap:hover .tarjeta{
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.anime{
  width: 100px;
  height: 100px;
  background-color: var(--accentcolor);
}