/*Tipografias*/
@font-face {
  font-family: CoffeeAndTea;
  src: url(/web/fonts/coffee+teademo-Regular.ttf);
}

@font-face {
  font-family: Poppins;
  src: url(/web/fonts/Poppins-Regular.ttf);
}

/* Esquema de colores*/
:root,
:root.light {
  --bg-color: rgb(241, 241, 241);
  --primary:#e8c39e;
  --secundary:#9e6730;
  --terciary:#f3dbc3;
  --accentcolor:#804000;
  --colort:#fff;


  --theme-color: white;
  --text-color-inverse: white;
  --text-color: black;
}
 
:root.dark {
  --bg-color: rgb(32, 32, 32);
  --primary:#9e6730;
  --secundary:#804000;
  --terciary:#eaccad;
  --accentcolor:#f3dbce;
  --colort:#fff;


  --theme-color: white;
  --text-color-inverse: black;
  --text-color: white;
}

*{
  margin: 0;
  padding: 0;
}

html{
  scroll-behavior: smooth;
  --scroll-behavior: smooth;
}

/*Body*/
.body {
  font-family: 'Poppins', sans-serif;
  background-image: url("/web/img/fondo1.jpeg");
  color: var(--text-color);
  width: 100vw;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

/*Header*/
.topheader {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  backdrop-filter: blur(0.3em);
  --webkit-backdrop-filter: blur(0.3em);
}

.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}

/* Logo */

.logo {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  color: var(--colort);
}

.logo img {
  border-radius: 0%;
  width: 15%;
  margin-right: 10px;
}

/* Menu */
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 15px;
}

.links {
  color: var(--colort);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;

  position: relative;
}

.open-menu,
.close-menu {
  display: none;
}

.logotype {
  display: flex;
  justify-content: center;
  font-family: 'CoffeeAndTea', sans-serif;
  font-size: 1.6em;
  margin-left: 20px;
}

.descarga{
  color: var(--text-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 50px;
  border: none;
  border-radius: 30px;
  padding: 12px 20px;
  position: relative;
  font-family: 'Poppins',sans-serif;
  background-color: var(--primary);
}
.descarga:hover {
  color:white;
  background-color: rgb(78, 92, 107); /* Add a dark-grey background on hover */
}

/*Principal*/
.principal{
  width: 100vw;
  height: 500px;
}
.titulo{
  margin-top: 300px;
  color: var(--colort);
  font-family: CoffeeAndTea;
  text-align: center;
  font-size: 5em;
  margin-bottom: 50px;
}
.subt{
  color: var(--colort);
  text-align: center;
  font-size: 1em;

  padding-left: 30px;
  padding-right: 30px;
}

.Formulario{
  background-color: var(--bg-color);
  width: 100vw;
  height: auto;
}
.formularioc{
  padding: 60px;
}
form{
  display: grid;
  justify-content: center;
}

/* Modal */
.alert{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  z-index: 100;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  /* background-color: var(--clear); */
  /* opacity: .4; */
}
.oculto{
  display: none;
}
.alert .alertBox{
  width: 30vw;
  height: 30vh;
  position: relative;
  top: 35vh;
  left: 35vw;

  background-color: var(--bg-color);
  border-radius: 20px;
}
.alert #alertClose{
  position: absolute;
  top: 5px;
  right: 5px;

  color: var(--accentcolor);
  font-size: 15px;
}
.alert #alertClose:hover{
  cursor: pointer;
}
.alert #alertContent{
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#check{
  color: green;
  position: absolute;
  left: 44%;
  top: 60px;
}

/*Footer*/
footer{
  width: 100%;
  height: auto;
  background-color: var(--primary);
}
.contenido{
  display: flex;
  flex-wrap: wrap;
  padding: 60px;
}

.footerC{
  margin-right: 5%;
  width: 45%;
}
.footerL{
  width: 50%;
}
.footerL a{
  display: block;
}

.theme-btn{
  border: none;
  border-radius: 20px;
  padding: 5px;
  font-size: 1pt;
  background-color: white;
}

.des{
  display: block;
  background: var(--accentcolor);
  color: var(--text-color-inverse);
  padding: 15px;
  cursor: pointer;
  text-decoration: none;
  width: auto;
  max-width: 200px;
  text-align: center;
  border-radius: 30px;
  font-size: 20px;
}
.des:hover{
  color:white;
  background-color: rgb(78, 92, 107);
}

.download {
display: flex;
flex-wrap: wrap;
padding: 60px;
padding-top: 124px;
justify-content: space-between;
}
.downloadC{
  width: 50%;
  margin-bottom: 40px;
}

.samples{
  width: 43%;
  color: black;
  background-color: rgb(226, 226, 226);
  padding: 20px;
  border-radius: 20px;
}
.zonaD{
  background-color: var(--bg-color);
  width: 100%;
  height: auto;
}

#Objetivos{
  background-color: var(--bg-color);
}

.objetivos{
  padding: 60px;
  padding-top: 124px;
  padding-right: 40px;
	display: grid;
	grid-template-columns: 60% 40% ;
	grid-template-rows: 100% 100%;
  
}

.main-title{
	grid-column: 1;
	grid-row: 1;
  padding-right: 30px;
}

.main-img{
	grid-column: 2;
	grid-row: 1;
  margin-left: 150px;
}

.obj{
  margin-top: 50px;
  width: 200px;
}
#lista{
  margin-left: 40px;
}


@media (min-width: 481px) and (max-width: 768px) {
  .topheader{
    backdrop-filter: none;
    --webkit-backdrop-filter: none;
  }
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--primary);
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }

  .titulo{
    margin-top: 250px;
    font-size: 4em;
  }

  .menu li {
    padding: 0;
  }

  .links {
    color: var(--colort);
    line-height: 60px;
  }
  
  .descarga{
    margin-top: 30px;
    background-color: white;
    color: black;
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
  .footerC{
    margin-right: 0px;
    margin-bottom: 10px;
    width: 100%;
  }
  .footerL{
    width: 100%;
  }
  .downloadC{
    width: 100%;
  }
  .samples{
    width: 100%;
  }
  .obj{
    margin-top: 80px;
    width: 100px;
  }
}
@media (max-width: 480px) {
  .topheader{
    backdrop-filter: none;
    --webkit-backdrop-filter: none;
  }
  /* Menu */
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: var(--primary);
    height: 100%;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  .titulo{
    margin-top: 200px;
    font-size: 2.9em;
  }

  .menu li {
    padding: 0;
  }

  .links {
    color: var(--colort);
    line-height: 60px;
  }

  .descarga{
    margin-top: 30px;
    background-color: white;
    color: black;
  }

  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }

  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
  .footerC{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 10px;
  }
  .footerL{
    width: 100%;
  }
  .downloadC{
    width: 100%;
  }
  .samples{
    width: 100%;
  }
  .download{
    padding-top: 50px;
  }

  .objetivos{
    display: block;
  }
  .obj{
    display: none;
  }
  #lista{
    margin-left: 40px;
  }
}




#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: var(--accentcolor); /* Set a background color */
  color: var(--text-color-inverse); /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 10px; /* Some padding */
  border-radius: 20px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  width: 48px;
}

#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

textarea{
  border-radius: 15px;
  height: 200px;
  background-color: var(--bg-color);
  border-color: var(--text-color);
  resize: vertical;
}
.enviar{
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  padding: 5px 5px;
  font-family: 'Poppins',sans-serif;
  background-color: var(--primary);
  font-size: 12pt;
}








